<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI demo</title>

    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="mx-4">

    <p class="text-2xl font-bold mb-4">Pokemon List</p>
    
        <table class="min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                  <th class="border">ID</th>
                  <th class="border">Dex Number</th>
                  <th class="border">Name</th>
                  <th class="border">Types</th>
                  <th class="border">Released</th>
                </tr>
              </thead>
              <tbody class="text-center text-sm" id="table-body">
                  {% include 'partials/table.html' %}
              </tbody>
        </table>
            
</div>

</body>
</html>